*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#fff;
}

.navbar{
    width:90%;
    margin:auto;
    padding:20px 0;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    text-decoration:none;
    color:black;
    margin:0 15px;
}

.logo{
    font-size:32px;
    font-weight:bold;
}

.login{
    padding:10px 20px;
    border:none;
    background:#d8f4ff;
    color:#0099ff;
    border-radius:8px;
}

.hero{
    width:85%;
    margin:60px auto;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.content{
    width:50%;
}

.content h1{
    font-size:50px;
    line-height:70px;
}

.content span{
    color:#0099ff;
}

.content p{
    margin:20px 0;
    color:gray;
    line-height:28px;
}

.book{
    padding:20px 35px;
    border:none;
    background:#0099ff;
    color:white;
    border-radius:10px;
}

.image{
    width:45%;
    text-align:center;
}

.image img{
    width:100%;
}

@media(max-width:750px){

.navbar{
    flex-direction:column;
    text-align:center;
}

nav{
    margin:20px 0;
}

nav a{
    display:block;
    margin:10px 0;
}

.hero{
    display:block;
    text-align:center;
}

.content{
    width:100%;
}

.content h1{
    font-size:35px;
    line-height:50px;
}

.image{
    width:100%;
    margin-top:30px;
}

.image img{
    width:80%;
}

.book{
    width:100%;
}
}